Host dev-Nki
  HostName 192.168.2.160
  User dperry

Host test-Nki
  HostName 192.168.2.166
  User dperry

Host prod-Nki
  HostName 192.168.2.67
  User dperry
  Port 2222

Host swarm
  HostName sttiswarmmgmt.eastus.cloudapp.azure.com
  User azure_admin
  LocalForward 8080 localhost:8080
  LocalForward 2375 localhost:2375
  Port 2200
  IdentityFile ~/.ssh/azurekey
